# SPDX-FileCopyrightText: 2013 Pablo V <noipy@pv8.dev>
#
# SPDX-License-Identifier: CC0-1.0

*.py[co]

# packages
build
dist
.eggs
*.egg-info
*.egg

# tests/coverage
.tox
.coverage

# IDE/SO files
*~
.DS_Store
.idea
.env
